<<<<<<< HEAD
body{
    margin:0;
    padding:0;
}

#header{
    width:100%;
    height:100px;
    background-color:lightgrey;
    margin:0;
    padding:0;
     display:flex;
    justify-content:flex-end;
    align-items:center;
}

#header ul{
    margin:0;
    padding-right:20px;
  
}

#header ul li{
    list-style:none;
    display: inline-block;
    padding:10px;
}

#header ul li a{
    text-decoration:none;
    color:#000;
}

#header ul li a:hover{
    text-decoration:underline;
   
}

#form1, #form2{
    padding:50px 0 0 50px;
}

.submit{
    margin-top:10px;
}

#result{
    padding-left:50px;
}
=======
.buttonCustomized{
  font-size: 14px;
  font-family: 'source Sance Pro', sans-serif;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 0.5%;
  background-color: lightskyblue;
  color: white;

}
.pageStructure{
    display: block;
    border: 1px solid black;
    min-height: 100%;
    margin-top: 2.5;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 13px;
  }
  .exerciseDiv{
    margin-left: 2%;
  }
  .runningInput{
    width: 30%;

  }
>>>>>>> 482a84775e41635a43a4da52e27abdb3aad01538
