.runningButton{
  font-size: 14px;
  font-family: 'source Sance Pro', sans-serif;
  border: 1px solid lightskyblue;
  border-radius: 5px;
  padding: 0.5%;
  background-color: lightskyblue;
  color: white;

}
.pageStructure{
    display: block;
    border: 1px solid black;
    min-height: 100%;
    margin-top: 2.5;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 13px;
  }
  .exerciseDiv{
    margin-left: 2%;
  }
  .runningInput{
    width: 30%;

  }